%h2= 'Hello ' + @user.try(:first_name)
Here are your personal information

%table
  %tr
    %th Email
    %td= @user.email
  %tr
    %th First Name
    %td= @user.first_name
  %tr
    %th Last Name
    %td= @user.last_name
  %tr
    %th LBG
    %td= @user.lbg
  %tr
    %th Year started in BEST
    %td= @user.year_started
  %tr
    %th Year stopped being active in BEST
    %td= @user.year_ended
  %tr
    %th Dietary preferences
    %td= @user.diet

= button_to 'Edit', edit_user_path(@user), method: :get, class: 'btn btn-default'

- unless @applications.empty?
  %h2 Your past applications
  %table
    %tr
      %th Event
      %th Application
      %th
    - @applications.each do |app|
      %tr
        %td= app.event.name
        %td= app.id
        %th= link_to 'Edit', edit_application_path(app.id)

%h2 Apply for an event
= form_tag new_application_path, method: :get do
  = select_tag :event_id, options_from_collection_for_select(Event.all, :id, :name)
  = hidden_field_tag :user_id, @user.id
  = submit_tag 'Apply', class: 'btn btn-primary'
